@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
}

.bg1{
    background: rgb(53,55,95);
background: linear-gradient(90deg, rgba(53,55,95,1) 22%, rgba(0,0,0,1) 100%);}

.bg2{
    background: rgb(53,55,95);
background: linear-gradient(0deg, rgba(53,55,95,1) 35%, rgba(0,0,0,1) 100%);
}